# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/

# Operating System files
.DS_Store
Thumbs.db

.vscode/
backend_api/assets/demo3.mp4
backend_api/test_capture_output.jpg
